<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>@ViewBag.Title - La Cuillère</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("La cuillère", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Mes recettes", "Index", "Recettes")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{Html.RenderAction("CartSummary", "ShoppingList");}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                @if (ViewBag.Title != "Ma liste de courses")
                {
                    {Html.RenderAction("ShoppingList", "ShoppingList");}
                }
            </div>
        </div>

        <div class="row">
            <h3>Accès par catégorie</h3>
            @{Html.RenderAction("CatMenu", "Home");}
        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bagh</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function () {
    $("#Ingredient_Name").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetIngredient", "RecetteDetails")',
                datatype: "json",
                data: {
                    term: request.term
                },
                success: function (data) {
                    response($.map(data, function (val, item) {
                        return {
                            label: val.Name,
                            value: val.Name,
                            IngredientId: val.ID
                        }
                    }))
                },
                error: function (response) {
                    alert(alert(response.responseText));
                }
            })
        },
        select: function (event, ui) {
            $("#Ingredient_Name").val(ui.item.IngredientId);
            $("#IngredientId").val(ui.item.IngredientId);
        }
    });
});
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(".RemoveLink").click(function (e) {
            e.preventDefault();
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingList/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    })        
    </script>
</body>
</html>
