@using Cuillere.Models
@model Recette

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Category.Name) | @Html.DisplayFor(model => model.Saison.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecetteDetail)
        </dt>

        @foreach (RecetteDetail i in Model.RecetteDetail)
        {
            <dd>
                 @i.Ingredient.Name @i.Quantity @i.unite
                @Html.ActionLink("Ajouter", "AddToCart", "ShoppingList", new { id = i.RecetteDetailId}, new { @class = "btn btn-info" })
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecetteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
