@using Cuillere.Models
@model Recette

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    @if (Model.Type == null)
        {
            <h4>@Html.DisplayFor(model => model.Category.Name) | @Html.DisplayFor(model => model.Saison.Name)</h4>
        }
        <h4>@Html.DisplayFor(model => model.Type.Name) | @Html.DisplayFor(model => model.Saison.Name)</h4>
    
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecetteDetail)
            </th>
            <th>
                Quantité
            </th>
            <th>
                Unité de mesure
            </th>
            <th></th>
        </tr>

        @foreach (RecetteDetail i in Model.RecetteDetail)
        {
            <tr>
                <td>
                    @i.Ingredient.Name  
                </td>
                <td>@i.Quantity</td>
                <td>@i.unite</td>
                <td>
                    @Html.ActionLink("Ajouter", "AddToCart", "ShoppingList", new { id = i.RecetteDetailId }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Supprimer", "Delete", "RecetteDetails", new { id = i.RecetteDetailId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }

    </table>
    <p>@Html.DisplayFor(model => model.Preparation)</p>
</div>

<p>
    @Html.ActionLink("Ajouter", "Add", new { id = Model.RecetteId }) |
    @Html.ActionLink("Retour", "Index")
</p>
<style type="text/css">
    td {
        width: 80px;
    }

    th {
        width: 80px;
    }
</style>