@using Cuillere.Models
@model Recette

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recette</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saison.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saison.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecetteDetail)
        </dt>

        @foreach (RecetteDetail i in Model.RecetteDetail)
        {
            <dd>
                 @i.Ingredient.Name @i.Quantity @i.unite
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecetteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
