@model PagedList.IPagedList<Cuillere.Models.Recette>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Mes recettes";
}

<h2>Mes recettes</h2>

<p>
    @Html.ActionLink("Nouvelle recette", "Create")
</p>
@using (Html.BeginForm("Index", "Recettes", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Chercher" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Recette", "Index", new { sortOrder = ViewBag.RecetteSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Catégorie", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Saison", "Index", new { sortOrder = ViewBag.SaisonSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saison.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecetteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecetteId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.RecetteId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
