@model Cuillere.Models.Ingredient

@{
    ViewBag.Title = "Supprimer un ingrédient";
}

<h2>Supprimer</h2>

<h3>Voulez-vous supprimer cet ingrédient ?</h3>
<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rayon.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rayon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
