@using Cuillere.Models
@model Saison

@{
    ViewBag.Title = "Details";
}

<h2>Recettes @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <ul>
        @foreach (Recette r in Model.Recettes)
        {
            <li>
                @r.Name
                @Html.ActionLink("Voir", "Details", "Recettes", new { id = r.RecetteId }, new { @class = "btn btn-info" })
            </li>
        }
    </ul>
        

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaisonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
