@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model Cuillere.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Ma liste de courses";
    ViewBag.Cart = true;
}

<h3 class="text-center">
    <span><img src="~/Content/Images/shoping_cart.png" />Ma liste de courses:</span>
</h3>
<div id="update-message" class="text-info">
</div>
@*@if (Model.CartItems.Count == 0)
{
    <a class="btn-danger" href="~/Recettes/Index">La liste est vide, poursuivre---></a>
}
else
{*@

@{ 
    var rayons = Model.CartItems.GroupBy(r => r.Ingredient.Rayon.Name)
                                .Select(r => new { Rayon = r.Key, Ingredient = r });
}

@foreach (var r in rayons)
{
    <h3>@r.Rayon</h3>
    <table class="table-responsive table-striped">
        @foreach (var ingre in r.Ingredient)
        {
            <tr id="row-@ingre.IngredientId">
                <td>
                    @ingre.Ingredient.Name
            </td>
            <td id="item-count-@ingre.IngredientId">
                @ingre.Count @ingre.unite
            </td>
            <td></td>
            <td>
                <a href="" class="RemoveLink" data-id="@ingre.IngredientId">
                    Supprimer
                </a>
            </td>
        </tr>

        }
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
}
        <p class="button">
            @Html.ActionLink("Poursuivre", "Index", "Home")
        </p>
            @Html.ActionLink("Imprimer", "listToPrint", null, new { target = "_blank" }, new { @class = "btn btn-info" })



